/* Variables */
$four-by-four-block-height: 18.5vh;
$four-by-four-block-width: 21vw;
$four-by-four-block-margin-vert: 2vh;
$four-by-four-block-margin-horiz: 2vw;

/* Mixins */
@mixin noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: moz-none;
    -ms-user-select: none;
    user-select: none;
}

@mixin block {
    text-align: center;
    height: $four-by-four-block-height;
    width: $four-by-four-block-width;
    margin: $four-by-four-block-margin-vert $four-by-four-block-margin-horiz;
    float: left;
}

/* Semantic Elements */
.game {

}

.top-bar {
    max-height: 10vh;
}

.answer-block {
    text-align: center;
    border: 2px solid gray;
    border-radius: 4px;
    @include noselect;

}

.question-block {
    text-align: center;
    border: 2px solid gray;
    border-radius: 4px;
}

.tech-block, .start-block {
    @include block;
    padding-top: floor($four-by-four-block-height/2); 
}

.tech-block {
    @include noselect;
    opacity: .5;
}

.tech-block.selected {
    opacity: 1.0;
}

.start-block {
    background: black;
    color: white;
}

/* Media queries & Layout */
@media all and (orientation: landscape){
    .answer-block {
        height: 39vh;
        width: 21vw;
        float: right;
        margin: 2vh 2vw;
        padding-top: 15vh;
    }

    .question-block {
        height: 86vh;
        width: 48vw;
        float: left;
        margin-left: 2vw;
    }
}

@media all and (orientation: portrait){
    .answer-block {
        height: 20vh;
        width: 46vw;
        margin: 2vh 2vw;
        float: left;
        padding-top: 10vh;
    }

    .question-block {
        height: 36vh;
        width: 96vw;
        margin: 2vh 2vw;
    }
}
