/* Variables */
/* Tech blocks */
$four-by-four-block-margin-vert: 3vh;
$four-by-four-block-margin-horiz: 3vw;
$four-by-four-block-height: 19vh;
$four-by-four-block-width: 19vw;

/* Mixins */
@mixin noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: moz-none;
    -ms-user-select: none;
    user-select: none;
}

@mixin block {
    text-align: center;
    height: $four-by-four-block-height;
    width: $four-by-four-block-width;
    margin: $four-by-four-block-margin-vert $four-by-four-block-margin-horiz;
    float: left;
}

/* Semantic Elements */
.intro {
    padding: 10px;
}

.top-bar {
    max-height: 10vh;
}

.answer-block {
    text-align: center;
    border: 2px solid gray;
    border-radius: 4px;
    @include noselect;

}

.question {
    word-wrap: break-word;
    padding: 0px 10px;
}

.question-block {
    text-align: left;
    border: 2px solid gray;
    border-radius: 4px;
    margin-left: 10px;
}

.tech-block, .start-block {
    @include block;
    padding-top: floor($four-by-four-block-height/2); 
}

.tech-block {
    @include noselect;
    opacity: .4;
    border: 2px solid black;
}

.tech-block always-selected {
    border: 2px solid black;
}

.base-tech-block {
    background: #CCC;
}

.tech-block.selected {
    opacity: 1.0;
}

.start-block {
    background: black;
    color: white;
}

/* Media queries & Layout */
@media all and (orientation: landscape){
    .answer-block {
        height: 17vh;
        width: 25vw;
        float: right;
        margin: 0vh 2vw 3vh 2vw;
        padding-top: 8vh;
    }

    .question-block {
        height: 76vh;
        width: 70vw;
        float: left;
    }
}

@media all and (orientation: portrait){
    .answer-block {
        height: 20vh;
        width: 46vw;
        margin: 2vh 2vw;
        float: left;
        padding-top: 10vh;
    }

    .question-block {
        height: 36vh;
        width: 96vw;
        margin: 2vh 2vw;
    }
}
