/* Variables */

/* Tech blocks */
$four-by-four-block-margin-vert: 3vh;
$four-by-four-block-margin-horiz: 3vw;
$four-by-four-block-height: 19vh;
$four-by-four-block-width: 19vw;

$two-by-eight-block-margin-vert: 3vh;
$two-by-eight-block-margin-horiz: 3vw;
$two-by-eight-block-height: 10.5vh;
$two-by-eight-block-width: 44vw;

$whiteish: rgba(255,255,255,0.95);

/* Mixins */
@mixin noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: moz-none;
    -ms-user-select: none;
    user-select: none;
}

@mixin block {
    text-align: center;
    height: $four-by-four-block-height;
    width: $four-by-four-block-width;
    margin: $four-by-four-block-margin-vert $four-by-four-block-margin-horiz;
    float: left;

    @media only screen and (orientation: portrait) and (max-width: 500px){
        height: $two-by-eight-block-height;
        width: $two-by-eight-block-width;
        margin: $two-by-eight-block-margin-vert $two-by-eight-block-margin-horiz;
    }
}

@mixin text-block {
    background-color: $whiteish;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

/* Basic styles */
* {
    font-family: 'Lato', sans-serif;
}

body {
    @media all and (orientation: landscape){
        background-image: url(/static/img/lighthouse-smaller.jpg);
    }
    @media all and (orientation: portrait){
        background-image: url(/static/img/lighthouse-rotate-smaller.jpg);
    }
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #DDD;
    background-attachment: fixed;
}

/* Semantic Elements */
.main-content {
    overflow: auto; // Hack to fix sizing of div's with floated elemnts
    padding-bottom: 50px;
}

.intro {
    padding: 10px;

    .intro-text {
        @include text-block;
        p {
            font-size: 18px;
        }
    }
}

.top-bar {

    @media only screen and (min-height: 570px)
    {
        max-height: 10vh;
    }
    
}

.joyride-content-wrapper {
    code {
        color: #F2674B;
    }
}

.answer-block {
    text-align: center;
    border: 2px solid gray;
    border-radius: 4px;
    background-color: $whiteish;
    @include noselect;

}

.answers {
    overflow: hidden;
}

.question {
    word-wrap: break-word;
    padding: 20px;
    font-family: 'Inconsolata', sans-serif;
}

.question-block {
    text-align: left;
    border: 2px solid gray;
    border-radius: 4px;
    margin-left: 1vw;
    background-color: $whiteish;
}

.tech-block, .start-block {
    @include block;
    padding-top: floor($four-by-four-block-height/2); 

    @media only screen and (orientation: portrait) and (max-width: 500px){
        padding-top: floor($two-by-eight-block-height/2);
    }
}

.tech-instructions { 
    @include text-block;
    margin: 0px $four-by-four-block-margin-horiz;

    @media only screen and (orientation: portrait) and (max-width: 500px){
        margin: 0px $two-by-eight-block-margin-horiz;
    }
}

.tech-block {
    @include noselect;
    border: 2px solid $whiteish;
    background-color: $whiteish;
}

.tech-block always-selected {
    border: 2px solid black;
}

.base-tech-block {
    background: #CCC;

    @media only screen and (max-width: 768px) { 
        font-size: 14px;
    }
}

.tech-block.selected {
    background: #666;
    color: white;
    border: 2px solid #666;
}

.start-block {
    background: black;
    color: white;
}

/* Media queries & Layout */
@media all and (orientation: landscape){
    .answer-block {
        height: 17vh;
        width: 25vw;
        float: right;
        margin: 0vh 2vw 3vh 2vw;
        padding-top: 8vh;
    }

    .question-block {
        height: 77vh;
        width: 70vw;
        float: left;
    }
}

@media all and (orientation: portrait){
    .answer-block {
        height: 20vh;
        width: 46vw;
        margin: 2vh 2vw;
        float: left;
        padding-top: 10vh;
    }

    .question-block {
        height: 36vh;
        width: 96vw;
        margin: 2vh 2vw;
    }
}

.about-content {
    margin: 0px 20px;
}

.cc-license-tag {
    position: fixed;
    bottom: 0;
    color: white;
}

.timesup-content {
    background-color: $whiteish;
    margin: 14px;
    padding: 8px 20px;
}

.report-content {
    background-color: $whiteish;
    margin: 14px;
    padding: 8px 20px;
}

.leaderboard-content {
    background-color: $whiteish;
    margin: 14px;
    padding: 8px 20px;
    display: inline-block;
}
