/* Variables */
/* Tech blocks */
/* Mixins */
/* Basic styles */
* {
  font-family: 'Lato', sans-serif; }

body {
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #DDD;
  background-attachment: fixed; }
  @media all and (orientation: landscape) {
    body {
      background-image: url(/static/img/lighthouse.jpg); } }
  @media all and (orientation: portrait) {
    body {
      background-image: url(/static/img/lighthouse-rotate.jpg); } }

/* Semantic Elements */
.main-content {
  overflow: auto;
  padding-bottom: 50px; }

.intro {
  padding: 10px; }
  .intro .intro-text {
    background-color: rgba(255, 255, 255, 0.95);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px; }
    .intro .intro-text p {
      font-size: 18px; }

@media only screen and (min-height: 570px) {
  .top-bar {
    max-height: 10vh; } }

.joyride-content-wrapper code {
  color: #F2674B; }

.answer-block {
  text-align: center;
  border: 2px solid gray;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.95);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: moz-none;
  -ms-user-select: none;
  user-select: none; }

.answers {
  overflow: hidden; }

.question {
  word-wrap: break-word;
  padding: 20px;
  font-family: 'Inconsolata', sans-serif; }

.question-block {
  text-align: left;
  border: 2px solid gray;
  border-radius: 4px;
  margin-left: 1vw;
  background-color: rgba(255, 255, 255, 0.95); }

.tech-block, .start-block {
  text-align: center;
  height: 19vh;
  width: 19vw;
  margin: 3vh 3vw;
  float: left;
  padding-top: 9vh; }
  @media only screen and (orientation: portrait) and (max-width: 500px) {
    .tech-block, .start-block {
      height: 10.5vh;
      width: 44vw;
      margin: 3vh 3vw; } }
  @media only screen and (orientation: portrait) and (max-width: 500px) {
    .tech-block, .start-block {
      padding-top: 5vh; } }

.tech-instructions {
  background-color: rgba(255, 255, 255, 0.95);
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  margin: 0px 3vw; }
  @media only screen and (orientation: portrait) and (max-width: 500px) {
    .tech-instructions {
      margin: 0px 3vw; } }

.tech-block {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: moz-none;
  -ms-user-select: none;
  user-select: none;
  border: 2px solid rgba(255, 255, 255, 0.95);
  background-color: rgba(255, 255, 255, 0.95); }

.tech-block always-selected {
  border: 2px solid black; }

.base-tech-block {
  background: #CCC; }
  @media only screen and (max-width: 768px) {
    .base-tech-block {
      font-size: 14px; } }

.tech-block.selected {
  background: #666;
  color: white;
  border: 2px solid #666; }

.start-block {
  background: black;
  color: white; }

/* Media queries & Layout */
@media all and (orientation: landscape) {
  .answer-block {
    height: 17vh;
    width: 25vw;
    float: right;
    margin: 0vh 2vw 3vh 2vw;
    padding-top: 8vh; }

  .question-block {
    height: 77vh;
    width: 70vw;
    float: left; } }
@media all and (orientation: portrait) {
  .answer-block {
    height: 20vh;
    width: 46vw;
    margin: 2vh 2vw;
    float: left;
    padding-top: 10vh; }

  .question-block {
    height: 36vh;
    width: 96vw;
    margin: 2vh 2vw; } }
.about-content {
  margin: 0px 20px; }

.cc-license-tag {
  position: fixed;
  bottom: 0;
  color: white; }

.timesup-content {
  background-color: rgba(255, 255, 255, 0.95);
  margin: 14px;
  padding: 8px 20px; }

.report-content {
  background-color: rgba(255, 255, 255, 0.95);
  margin: 14px;
  padding: 8px 20px; }

.leaderboard-content {
  background-color: rgba(255, 255, 255, 0.95);
  margin: 14px;
  padding: 8px 20px;
  display: inline-block; }
