{% extends "layout.html" %}
{% block body %}
<div class="about-content">
    <h1>About the game</h1>
    <p>
        This game, like many applications on the internet, is really about one thing: collecting data about the users - that's you!  This model of exchanging services for access to data is what drives many modern web services that are offered "for free".  Things like the Google search engine and GMail products are built on the idea that the services they offer give them an excuse to access and store <b>your</b> data.
    </p>
    <p>
        What many people don't realize, however, is how valuable this data is.
    </p>

    <h1>About Sphere of Influence, Inc</h1>
    <p>
        Sphere of Influence (SOI) is a small software design studio located in McLean Virginia that specializes in advanced data analytics.  Our expertise allows us to transform the treasure troves of data collected as part of the natural use of software products into useful, actionable information.
    </p>
    <p>
        In this case, SOI's goal was very straight forward.  When interviewing at Virginia Tech to fill past internship and full-time positions, we found that we didn't have a great understanding of the types of technologies students had experience with or their level of comfort with those technologies.  Of course, we looked at the curriculum for the CS program, be we wanted more detail.  Are studends investing time outside of class to learn technologies not discussed in class?  How well are they picking up basic programming principles?
    </p>
    <p>
        At SOI, we hope to use the data we gather from this application to help shape our interview process by identifying which technologies we should focus on during interviews, what types of questions help separate the self-motivated learners from their peers, and to identify individuals we think might be a good fit for the type of work we do.  In exchange, at the Tech event, someone wins an iPad!  Well, that seems a little cheap for the people that <b>don't</b> win the ipad.  What do they get?
    </p>
    <p>
        They get access to some of the data in return.  Well, everyone does, includng the iPad winner.  At the end of the event, we'll send out a personalized report for each player, telling them how they did relative to their peers, to help give them a better understanding of where they stand.  We'll break the report down into different areas of expertise, telling them how they performed compared to their colleagues on a particular technology or area of computer science.  Finally, we'll sanitize the data (removing the email addresses used to identify individuals, replacing them with another globally unique identifier) and make this data available for the public to play around with.
    </p>
    <p>
        This is the kind of work we do at SOI.  We write compelling software, explore the latent value in data sets, and produce useful things with it.
    </p>
    <p>
      Check out the code on <a href="https://github.com/axiomabsolute/wordassoc-flask">GitHub</a>.
    </p>

    <h1>Who made this?</h1>
    <p>
        My name's Devon Terrell.  I graduated from Tech in 2010 with a degree in Mathematics, and started working at SOI a couple of weeks later, and I've been here ever since.
    </p>
</div>
{% endblock %}
