<div class="game">
    <div class="question-block">
        <div id="timer" class="timer"><div class="progress radius"><span id="timer-region" class="meter"></span></div></div>
        <div id="question" class="question"><h3><pre>if(i == 5){...}</pre></h3></div>
        <div class="notifications"></div>
    </div>
    <div id="answers" class="answers">
        <div class="answer-block">Iteration</div> 
        <div id="answer-correct" class="answer-block">Conditional</div>
        <div class="answer-block">Assignment</div>
        <div class="answer-block">Composition</div>
    </div>
</div>
<!-- Joyride Demo -->
<ol class="joyride-list" data-joyride>
    <li data-button="Next">
        <p>Welcome to the word association game!</p>
        <p>We're going to walk you through an example question so you know what to expect.</p>
    </li>
    <li data-id="question" data-button="Next" data-options="tipLocation:bottom;">
        <p>A word, phrase, or snippet of code will show up here.</p>
    </li>
    <li data-id="answers" data-button="Next" data-options="tipLocation:right;">
        <p>Your job is to select the word over here that is most associated with it.</p>
    </li>
    <li data-id="answer-correct" data-button="Next" data-options="tipLocation:right;">
        <p>Since <code>if</code> statements are used to evaluate logic and conditionally execute a block of code, "Conditional" is the right answer!</p>
    </li>
    <li data-id="timer" data-button="Next" data-options="tipLocation:bottom;">
        <p>Answer carefully, wrong answers will hurt your score, but answer quickly, because the more answers you get right before this timer runs out, the higher your score!</p>
    </li>
    <li data-button="I'm ready!">
        <p>You'll have 90 seconds to answer questions from a mix of different formats.  You may be asked to match a snippet of code to the language it's written in, match some real world scenario to the data structure that naturally represents it, or identify an object oriented design principle.</p>
        <p>Competition will be fierce, and the game moves fast, so take a moment, focus, and get ready to start!</p>
    </li>
</ol>
