{% extends "layout.html" %}
{% block body %}
<div class="row">
    <div class="leaderboard-content">
        <h2>The leaderboard</h2>
        <table class="leaderboard">
            <thead>
                <tr>
                    <th>Rank</th>
                    <th>User</th>
                    <th>Score</th>
                    {% if leaderboard and "weightedScore" in leaderboard[0].keys() %}
                    <th>Weighted Score</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for entry in leaderboard %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ entry["user"].email }}</td>
                    <td>{{ entry["score"] }}</td>
                    {% if leaderboard and "weightedScore" in entry.keys() %}
                    <td>
                        {{ entry["weightedScore"] }}
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
