{% extends "layout.html" %}
{% block body %}
<div class="row">
    <h2>The leaderboard</h2>
    <table class="leaderboard">
        <thead>
            <tr>
                <th>Rank</th>
                <th>User</th>
                <th>Score</th>
            </tr>
        </thead>
        <tbody>
            {% for user in leaderboard %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ user.email }}</td>
                <td>{{ leaderboard[user] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
