{% extends "layout.html" %}
{% block body %}
    <div class="row">
        <div class="intro">
            <div class="intro-text">
                <h2>Do you know what you know?</h2>
                <p>C'mon, admit it!  <span class="emph-text">There's fluff on that resume</span>.  Even if you don't mean it, sometimes it's hard to know what to put on there and  what to leave off.  That's okay, we're <span class="text-emph">here to help</span>!  Take our challenge, test your skills, and duke it out with your peers for a chance to win an <span class="prize">iPad mini</span>!</p>
            </div>
            <form>
                <div class="row">
                    <div class="large-6 columns">
                        <a href="#" id="start-button" class="button">I'm up for the challenge!</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="cc-license-tag">
        <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/deed.en_US"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/3.0/88x31.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/deed.en_US">Creative Commons Attribution-NonCommercial-ShareAlike 3.0 Unported License</a>.    </div>
    </div>
{% endblock %}
