{% extends "layout.html" %}
{% block body %}
    <div class="intro">
        <h2>How well do you <i>really</i> know those techs?</h2>
        <h3>Play our word association game to find out</h3>
        <h3> Maybe win a new <span class="prize-text">iPad!</span></h3>
        <p>The game is simple.  Pick the technologies you know, match the snippet shown to one of the four choices given.  The person with the highest score at the end of the day wins!</p>
        <form>
            <div class="row">
                <div class="large-6 columns">
                    <a href="#" id="start-button" class="button">Go!</a>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
