{% extends "layout.html" %}
{% block body %}
    <div class="tech-instructions">
        <p>The top row of technologies are questions every programmer should know something about.  Pick additional technologies below.</p>
    </div>
    <div class="base-tech-block">
        {% for baseTech in baseTechs %}
        <div class="tech-block always-selected selected">{{ baseTech }}</div> 
        {% endfor %}
    </div>
    {% for supTech in supportedTechs %}
    <div class="tech-block selectable{% if supTech in technologies %} selected{% endif %}">{{ supTech }}</div> 
    {% endfor %}
    <div id="start-block" class="start-block">Start!</div>
{% endblock %}
