<div class="timesup-content">
    <h3>
        <span style="color:red;">Times up!</span>
    </h3>
    <form>
        <fieldset>
            <legend>Enter your email address to register and see your results</legend>
            <div class="row">
                <div class="large-12 columns">
                    <label>Email</label><input class="player-email" type="email" placeholder="example@me.com" required=""><a href="#" class="button submit-results">Register</a>
                    <input style="display: none" type="text" /><!-- To handle form submission behavior differences in Chrome/IE and everyone else -->
                </div>
            </div>
        </fieldset>
    </form>
</div>
